<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit employee</title>
</head>
<body>
	<div align="center">
		<h1>Edit employee</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${employee}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>employee ID:</td>
					<td><input type="text" th:field="*{empId}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>employee Name:</td>
					<td><input type="text" th:field="*{empName}" /></td>
				</tr>
				<tr>
					<td>address:</td>
					<td><input type="text" th:field="*{location}" /></td>
				</tr>
				<tr>
					<td>salary:</td>
					<td><input type="text" th:field="*{salary}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>